/**
 * Relative Position: sets boxes relative to its original location
 * (i.e. below or left of where the element would normally be)
 **/

.box {
  /* Relative positioning */
  position: relative;
}

.box-1 {
  top: 20px;
}

.box-2 {
  left: 40px;
}

.box-3 {
  right: 20px;
  bottom: -10px;
}
